extend article

block article-content
    p Hi there! I am Johnny. Confort Corner is an experimental website aimed at giving visitors a .
    
    p This website was supposed to be our project for nwHacks 2024. However, at the time we were all every inexperienced in web development, so we only 