extends layout

block content
    .quote-container
        .quote-text 

    .cards-container
        a.card(href='/sleep-better')
            .image-box
                img(src="/images/sleep.png", alt="Sleep Better")
            h2 Sleep Better
        a.card(href='/manage-axiety')
            .image-box
                img(src="/images/anxiety.png", alt="Manage Anxiety")
            h2 Manage Anxiety
        a.card(href='/cope-with-stress')
            .image-box
                img(src="/images/stress.png", alt="Cope with Stress")
            h2 Cope with Stress